<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
	<link rel="manifest" href="%PUBLIC_URL%/manifest.json">
	<link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <script src="/app.js" defer></script>
    <script src="/src/functionPlot.js" defer></script>


    <title>Graph</title>
</head>
<body>

    <div class="container">
        <div class="user-coloumn">
            <div class="settings-container">
                <div class="settings-block">
                    <img src="../public/Images/list.png" alt="Dropdown">
                </div>
                <button id="dropdown" onclick="settings()">Temp</button>
            </div>
            <h1>Graph Visualizer</h1>
            <div class="graph-input">
                <input id="graphFunction" type="text" placeholder="Example: x^2...">
                <button class="submit">Graph</button>
            </div>
            <div class="history">
                <h2>History</h2>
                <div class="history-container">
                </div>
            </div>
        </div>
        <div id="root"></div>
    </div>




<script>

var counter = 0;

function settings(){

    counter++;

    if(counter%2 == 0 )
    {
        document.querySelector(".settings-block").style="visibility:hidden;transition-duration: 0.4s;width:0%;"
        document.querySelector(".settings-container").style="border-left: solild 2px white;transition-delay: 0.4s;"

    }
    else if(counter%2 == 1)
    {
        document.querySelector(".settings-block").style="visibility:visible;transition-duration: 0.4s;width:60%;"
        document.querySelector(".settings-container").style="border:none;"
    }



}


    var submit = document.querySelector(".submit")
    submit.addEventListener("click", inputReader)

function inputReader(){
    console.log("inputReader")
    if(document.querySelector('#graphFunction').value == ""){
        return
    }
    else{
        let p = document.createElement("p");
        p.innerHTML = document.querySelector("#graphFunction").value
        document.querySelector(".history-container").append(p);
    }
    
};


</script>

</body>
</html>