<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
	<link rel="manifest" href="%PUBLIC_URL%/manifest.json">
	<link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    
    <script src="/app.js" defer></script>
    <script src="/src/functionPlot.js" defer></script>

    <title>Document</title>
</head>
<body>

    <div id="root"></div>



    <!-- <h1>brjawudba</h1>
    <% data.forEach(function (post) { %>
        <% if(post.picture != ''){ %>
        <img src="<%= post.picture %>">
        <% } %> 
        <p><%= post.text1 %></p>
        <p><%= post.text2 %></p>
        <%= post.date_added %>
<% }) %> -->







</body>
</html>